{% extends 'sale/index.html' %}
{% load static %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Sale</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Sale</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Mặt hàng đã bán</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th style="width: 10px">#</th>
                      <th>Sản phẩm</th>
                      <th>Số lượng</th>
                      <th>biểu đồ</th>
                      <th style="width: 40px">Tỷ lệ/Tổng</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1.</td>
                      <td>Sách</td>
                      <td>{{b}}</td>
                      <td>
                        <div class="progress progress-xs">
                          <div class="progress-bar progress-bar-danger" style="width: {{pb}}%"></div>
                        </div>
                      </td>
                      <td><span class="badge bg-danger">{{pb}}%</span></td>
                    </tr>
                    <tr>
                      <td>2.</td>
                      <td>Quần áo</td>
                      <td>{{c}}</td>
                      <td>
                        <div class="progress progress-xs">
                          <div class="progress-bar bg-warning" style="width: {{pc}}%"></div>
                        </div>
                      </td>
                      <td><span class="badge bg-warning">{{pc}}%</span></td>
                    </tr>
                    <tr>
                      <td>3.</td>
                      <td>Đồng điện tử</td>
                      <td>{{e}}</td>
                      <td>
                        <div class="progress progress-xs progress-striped active">
                          <div class="progress-bar bg-primary" style="width: {{pe}}%"></div>
                        </div>
                      </td>
                      <td><span class="badge bg-primary">{{pe}}%</span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- /.col -->
        </div>
        
        <!-- /.row -->
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Xác nhận đơn hàng</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>Đơn Hàng số</th>
                      <th>Ngày đặt hàng</th>
                      <th>Giá</th>
                      <th>Sản phẩm</th>
                      <th>Số lương</th>
                      <th>hình thức giao hàng</th>
                      <th>Hình thức thanh toán</th>
                      <th>Trạng thái</th>
                      <th>Thao tác</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for order in orders %}
                    <tr>
                      <td>#{{order.id}}</td>
                      <td>{{order.itemInCart.createDate}}</td>
                      <td>{{order.total}}</td>
                      <td>{{order.itemInCart.product.name}}</td>
                      <td>{{order.itemInCart.amount}}</td>
                      <td>{{order.shipment.type}}</td>
                      <td>{{order.payment.type}}</td>
                      <td>{{order.statusstr}}</td>
                      <td><a href="/sale/confirm/{{order.id}}"><button class="btn btn-primary">xác nhận</button></a></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
        <!-- /.row -->
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Thống kê đơn hàng</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0" style="height: 300px;">
                <table class="table table-head-fixed text-nowrap">
                  <thead>
                    <tr>
                     <th>Đơn Hàng số</th>
                      <th> Tài khoản</th>
                      <th>Ngày đặt hàng</th>
                      <th>Giá</th>
                      <th>Sản phẩm</th>
                      <th>Tiến độ</th>
                      <th>Số lương</th>
                      <th>hình thức giao hàng</th>
                      <th>Hình thức thanh toán</th>
                      
            
                      
                      <th>Trạng thái đơn hàng</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                  {% for order in orders1 %}
                    <tr>
                      <td>#{{order.id}}</td>
                      <td>#{{order.itemInCart.cart.customer.account.username}}</td>
                      <td>{{order.itemInCart.createDate}}</td>
                      <td>{{order.total}}</td>
                      <td>{{order.itemInCart.product.name}}</td>
                      <td>
                      <div class="progress progress-xs">
                          <div class="progress-bar bg-success" style="width: {{order.process}}%"></div>
                        </div>
                      </td>
                      <td>{{order.itemInCart.amount}}</td>
                      <td>{{order.shipment.type}}</td>
                      <td>{{order.payment.type}}</td>
                      
                      
                      <td>{{order.statusstr}}</td>
                      
                      
                    </tr>
                    {% endfor %}
                   
                   
                    
                   
                   
                    
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
        <!-- /.row -->
        
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}